<html>
    <head>
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="theme.css">
    </head>
    <body>
        My first view!

        <h1 class="bg-zinc-800">
            aasd
        </h1>
    </body>
</html>